html, body {
    width: 100%;
    height: 100%;
    /* padding: 30px 5% 30px 5%; */
    background-color: #F6EFE8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li > ul {
    display: none;
}

ul li {
    float: left;
    color: #1D1D1D;
    width: 8%;
    font-family: sans-serif;
    font-size: 16px;
    list-style-type: none;
}

header {
    width: 100%;
    height: 50px;
}

header img {
    float: left;
    height: 20px;
    width: 8%;
    padding-right: 20px;
}

header a {
    float: right;
    font-size: 16px;
    color: #1D1D1D;
}

header button {
    float: right;
    font-size: 14px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    height: 36px;
    border-radius: 5%;
    font-weight: bold;
}

header button:nth-last-child(2) {
    border: 2px solid #4A154B;
    background-color: transparent;
    color: #4A154B;
}

header button:nth-last-child(3) {
    background-color: #4A154B;
    color: #F6EFE8;
    border: 2px solid #4A154B;
}

video {
    width: 40%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
}

#video-section div {
    float: left;
    width: 35%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#video-section div button {
    font-size: 14px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    height: 36px;
    border-radius: 5%;
    font-weight: bold;
    border: 2px solid #4A154B;
    background-color: transparent;
    color: #4A154B;
}

#brand-section img {
    display: inline;
    margin: auto;
    padding: 30px;
    height: 30px;
    float: left;
}

#brand-section {
    width: 100%;
    height: 100px;
    clear: both;
}

/* #intro-section {
    clear: both;
}

#intro-section div {
    margin-left: 40%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

#intro-section img {
    float: right;
    margin-top: -10px;
}

#intro-section h1 {
    font-size: 70px;
    width: 550px;
    margin: 0;
}

#intro-section p {
    font-size: 18px;
    width: 450px;
}

#intro-section button:nth-last-child(2) {
    border: solid #4A154B;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 16px;
    color: #F6EFE8;
    background-color: #4A154B;
    text-align: center;
}

#intro-section button:nth-last-child(1) {
    border: solid #4285f4;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 16px;
    color: #F6EFE8;
    background-color: #4285f4;
    text-align: center;
} */

section > div {
    margin-left: 40px;
    float: left;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;

}

section > img {
    float: right;
    margin-top: -10px;
}

div > h1 {
    font-size: 70px;
    width: 550px;
    margin:0;
}

div > p {
    font-size: 18px;
    width: 450px;
}

div button:nth-last-child(2) {
    border: solid #4A154B;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: #4A154B;
    text-align: center;
}

div button:nth-last-child(1) {
    background-color: #4285f4;
    color: white;
    border: solid #4285f4;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 16px;
}

@media screen and (max-width: 400px){
    header > ul, header > button, header > a {
        display: none;
    }

    header img {
        width: 35%;
        height: 50%;
        margin-top: 10px;
        margin-left: 5%;
    }

    header {
        background-color: white;
    }

    section > div {
        width: 100%;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    div > h1 {
        font-size: 36px;
        width: 100%;
    }
    
    div > p {
        font-size: 18px;
        width: 100%;
    }

    div > button {
        width: 100%;
        margin-bottom: 20px;
    }

    #intro-section > img {
        width: 100%;
        height: auto;
    }

    #brand-section {
        height: 200px;
        padding-top: 50px;
    }

    #brand-section > img {
        padding: 10px;
    }

    video {
        width: 90%;
    }

    #video-section div{
        width: 90%;
    }
}